<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+Thai+Looped:wght@800;900&family=Noto+Sans+Thai:wght@500;800;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <mat-toolbar color="primary" class="mat-elevation-z8">
      <button (click)="drawer.toggle()" mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>

      <span
      class="toolbar-title"
      
        >Dashboard (Admin) คุณ {{this.memberName}}</span
      >
      <span class="example-spacer"></span>

      <button
        [routerLink]="['/home']"
        mat-button
        style="
          margin-right: 40px;
          font-family: 'Noto Sans Thai', sans-serif;
          font-family: 'Noto Sans Thai Looped', sans-serif;
        "
      >
        <mat-icon>home</mat-icon>
        หน้าเเรก
      </button>
      <!-- <button
        mat-raised-button
        [routerLink]="['/lottery-search']"
        routerLinkActive="router-link-active"
        style="
          margin-right: 15px;
          font-family: 'Noto Sans Thai', sans-serif;
          font-family: 'Noto Sans Thai Looped', sans-serif;
        "
      > <mat-icon>search</mat-icon>
        ค้นหาสลาก
      </button> -->
    </mat-toolbar>

    <mat-drawer-container autosize>
      <mat-drawer #drawer opened="true" mode="side" position="start">
        <mat-nav-list>
    
          <mat-list-item>
            <button
              routerLink="table"
              mat-button
              style="
                font-family: 'Noto Sans Thai', sans-serif;
                font-family: 'Noto Sans Thai Looped', sans-serif;
              " routerLink="/report"
            > 
              <mat-icon>shopping_cart</mat-icon>รายการข้อมูลการซื้อ
            </button>
          </mat-list-item>
          <!-- <mat-list-item>
                <button mat-button><mat-icon>settings</mat-icon> Settings</button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button><mat-icon>help</mat-icon> Help</button>
            </mat-list-item> -->
          <mat-list-item>
            <button
              mat-button
              style="
                font-family: 'Noto Sans Thai', sans-serif;
                font-family: 'Noto Sans Thai Looped', sans-serif;
              " (click)="logout()"
            >
              <mat-icon>exit_to_app</mat-icon> ออกจากระบบ
            </button>
          </mat-list-item>
        </mat-nav-list>
      </mat-drawer>

      <mat-drawer-content>
        <div style="text-align: center; min-height: 600px">
          <app-manage-lottery></app-manage-lottery>
          <!-- เพิ่มส่วนที่ต้องการเเสดง -->
        </div>
      </mat-drawer-content>
    </mat-drawer-container>
  </body>
</html>
