<h1 mat-dialog-title class="custom-dialog-title"  style="
margin-right: 15px;
font-family: 'Noto Sans Thai', sans-serif;
font-family: 'Noto Sans Thai Looped', sans-serif;
">แจ้งเตือน</h1>
<div mat-dialog-content>
  <p class="custom-dialog-content"  style="
  margin-right: 15px;
  font-family: 'Noto Sans Thai', sans-serif;
  font-family: 'Noto Sans Thai Looped', sans-serif;
">ท่านยังไม่ได้เข้าสู่ระบบ</p>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="true" class="custom-dialog-button"  style="
  margin-right: 15px;
  font-family: 'Noto Sans Thai', sans-serif;
  font-family: 'Noto Sans Thai Looped', sans-serif;
">ปิด</button>
</div>
